# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Streamlit config files
.streamlit/config.toml

# System files
.DS_Store
Thumbs.db

# Logs
*.log